.banner {
  position: relative;
  overflow: hidden;
  background: $blackText;
  border-radius: 30px;
  &::before {
    content: '';
    position: absolute;
    top: 14px;
    right: -230px;
    width: 823px;
    height: 364px;
    background: #D9D9D9;
    border-radius: 823px;
    filter: blur(150px);
    @include media-laptop {
      top: 25px;
      right: -160px;
      width: 462px;
      height: 204px;
      border-radius: 462px;
      filter: blur(100px);
    }
    @include media-tablet {
      top: 166px;
      right: -216px;
      filter: blur(75px);
    }
  }
  &__img {
    position: absolute;
    right: -318px;
    bottom: -12px;
    z-index: 1;
    max-width: 1221px;
    @include media-desktop {
      right: -500px;
    }
    @include media-laptop {
      right: -325px;
      bottom: -25px;
      max-width: 755px;
    }
    @include media-tablet {
      right: unset;
      bottom: -19px;
      left: -28px;
      width: 507px;
    }
  }
  &__bg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 560px;
    padding: 30px 95px 60px;
    @include media-laptop {
      min-height: 325px;
      padding: 30px 60px;
    }
    @include media-tablet {
      min-height: unset;
      align-items: center;
      padding: 40px 20px 185px;
      text-align: center;
    }
  }
  &__h1 {
    max-width: 550px;
    font-size: 60px;
    font-weight: 900;
    @include media-laptop {
      max-width: 250px;
      font-size: 30px;
    }
    @include media-tablet {
      font-size: 22px;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
      @include media-laptop {
        margin-bottom: 20px;
      }
    }
  }
}
