mixin about(mods)
  -
    const baseName = 'about'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .about(class=allMods)&attributes(attributes)
    .about__img: img(src='../../images/about.png' alt='')
    .about__content
      +ui-title('О компании', 'about')
      .about__text Мы местная компания ОАЭ, основанная в 2014 году. Мы предоставляем широкий выбор автомобилей в аренду на любой срок - короткий или длительный. Наша компания концентрируется на обслуживании клиентов и индивидуальном подходе, мы стремимся обновлять все наши автомобили в течение 4 лет эксплуатации, чтобы поддерживать наш автопарк молодым и в хорошем состоянии. Мы добавляем новые модели в наш ассортимент и стремимся предоставить автомобили для любых потребностей наших клиентов.
    block
