.about {
  position: relative;
  max-width: 1165px;
  display: grid;
  align-items: center;
  grid-template-columns: 49.1% 1fr;
  gap: 65px;
  margin: 0 auto;
  @include media-laptop {
    align-items: start;
    gap: 11px;
  }
  @include media-tablet {
    grid-template-columns: minmax(0, 1fr);
    gap: 20px;
  }
  &__ui-title {
    &:not(:last-child) {
      margin-bottom: 26px;
      @include media-laptop {
        margin-bottom: 20px;
      }
    }
  }
  &__img {
    position: relative;
    @include media-tablet {
      order: 1;
    }
    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 75%;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
      @include media-laptop {
        border-radius: 10px;
      }
    }
  }
  &__text {
    font-size: 14px;
    line-height: 1.7;
  }
}
