.ui-input {
  position: relative;
  input {
    width: 100%;
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    outline: none;
    color: $blackText;
    &::placeholder {
      color: #9E9E9F;
    }
    &.parsley-error {
      border-color: $red;
    }
  }
  .parsley-errors-list {
    position: absolute;
    bottom: 0;
    left: 15px;
    font-size: 10px;
    color: $red;
  }
}
