extends ../../layout/layout

block variables
  -
    const pageTitle = 'Index'

block content
  main.main
    .inner
      br
      br
      a(href='main.html') Main
      br
      br
      a(href='catalog.html') Каталог
      br
      br
      a(href='detail.html') Детальная
      br
      br
      a(href='about.html') О компании
      br
      br
      a(href='contacts.html') Контакты
      br
      br
      a(href='faq.html') FAQ
