// fonts
$font: 'Montserrat', 'Arial', sans-serif;

// colors
$black: #1F1F1F;
$blackText: #3F3E40;
$greyText: #9A9A9A;
$white: #fff;
$blue: #0907FC;
$red: #F00;

// media
$mediaWidthDesktop: 1440px;
$mediaWidthLaptop: 1200px;
$mediaWidthTablet: 743px;
$mediaWidthMobile: 320px;
