extends ../../layout/layout

block variables
  -
    const pageName = 'faq'
    const pageTitle = 'FAQ'

block content
  main.main.main--bg.main--m-pb0
    .inner
      +breadcrumbs
        +breadcrumbs__item('Главная', '/')
        +breadcrumbs__item('FAQ')
      +section('--mt-s')
        +section-head: +ui-title('Вопрос ответ')
        -for(let i=0; i<3; i++)
          +ui-accordion('Какие документы мне нужны для аренды автомобиля в ОАЭ?')
            | Чтобы арендовать автомобиль в ОАЭ, вам как минимум потребуются действующие водительские права, паспорт и кредитная карта. Подробнее о требованиях
            =' '
            a(href='#') читайте здесь
          +ui-accordion('Где я могу арендовать автомобиль в Дубае?')
            | Чтобы арендовать автомобиль в ОАЭ, вам как минимум потребуются действующие водительские права, паспорт и кредитная карта. Подробнее о требованиях
            =' '
            a(href='#') читайте здесь
      +section
        +form-wrapper
          +form('Не нашли нужного ответа?', 'Оставьте свои контакты, и наш специалист свяжется с вами в течении 1 часа')
    +popup('--max-w-s')#thx-popup
      +form-thx
